<h1>Proveedor Cliente | Documento de identidad</h1>
<div class="card border border-primary">
  <div class="card-body">
    <form [formGroup]="dataForm">
      <div class="row">
        <div class="col-md-6">
            <input type="text" formControlName="anno" [hidden]="true">
            <app-comp-tipo-documento-identidad (getObject)="_getObject($event)" [_formControlName]="this.dataForm.get('dni')"></app-comp-tipo-documento-identidad>      
        </div>

        <div class="col-md-6">
            <app-comp-find-proveedor-cliente-ruc (getObject)="_getObject($event)" [_formControlName]="this.dataForm.get('ruc')"></app-comp-find-proveedor-cliente-ruc>      
        </div>
      </div>
      <br><br><br>
      <hr>
      <br>
      <div class="row">
        <div class="col-12">
          <h2>Busqueda sencitiva de proveedor o cliente</h2>
          <span> devuele un json = proveedorcliente: ProveedorclienteModel, direccion: ProveedorclientedireccionModel </span>
          <br><br><br>
          <app-comp-find-proveedor-cliente-list (getObject)="_getObjectProveedorClienteLis($event)" [agruparPorDireccion]="true"></app-comp-find-proveedor-cliente-list>          
        </div>
      </div>
    </form>    
  </div>
</div>


<br>
<hr>
<br>

<h2>Propiedades</h2>

<table class="table">
  <thead>
    <th>Nombre</th>
    <th>Descripcion</th>
  </thead>
  <tr>
    <td>
      <strong>getObject</strong>
      <p>Evento que emite</p>
    </td>
    <td>
      Devuelve un ProveedorCliente:
      <span class="text-info">{{proveedor_cliente | json}}</span>
    </td>
  </tr>
  
  <tr>
    <td colspan="2"><h3><strong>Valido solo para Busqueda sencitiva</strong></h3></td>
  </tr>
  <tr>    
      <td>        
          <strong>[tipodocfilter]</strong>
          <p>Input: number</p>
        </td>
        <td>          
            Especifique el iddocumentoidentificacion <br>
            ej: 1=DNI (muestra solo Persona natural) o 2: RUC (Muestra solo Personas Jurdicas)
        </td>
      </tr>
      <tr>
      <td>        
        <strong>[agruparPorDireccion]</strong>
        <p>Input: boolean</p>
      </td>
      <td>          
          <p>Valor default = true</p>
          <br>
          <p>true = muestra el proveedorcliente agrupados por sus direcciones, es decir se mostrar la cantidad de veces segun la cantidad de direcciones, si no tiene direccion mostrara: direccion no asignada</p>
          <p>false = muestra todos los proveedores agrupados por proveedorcliente</p>        
      </td>
    </tr>
    <tr>
      <td>      
        <strong>[_formControlName]</strong>
        FormControl        
      </td>
      <td>
        Asigna formControl al componente
      </td>
    </tr>
</table>