<div class="p-3">
  <div class="row">
    <div class="col-md-8">

    <mat-card class="w-100">
      <div class="content_filtro" [hidden]="!verFiltro">
        <button class="btn btn-sm btn-danger" (click)="verFiltro = !verFiltro">Cerrar</button>
        <app-ubigeo nivel="4" (getMesas)="getUbigeoMesa($event)" (getUbigeo)="getUbigeoSelect($event)"></app-ubigeo>
      </div>

      <div>
        <button class="btn btn-success btn-sm mr-1" (click)="verFiltro = !verFiltro"><i class="fa fa-filter" aria-hidden="true"></i>
          Filtro</button>
        <button class="btn btn-sm btn-danger" [hidden]="!filtroAplicado" (click)="quitarFiltro()"><i class="fa fa-times"
            aria-hidden="true"></i>Quitar Filtro</button>
      </div>
      <br>

      <div class="mat-elevation-z8 example-container">
        <table mat-table [dataSource]="listMesasDeVotacionPorAsinarMostrar" matSort class="w-100">
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="provincia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
            <td mat-cell *matCellDef="let element"> {{element.centroDeVotacion.distrito.provincia.dscprovincia}} </td>
          </ng-container>

          <ng-container matColumnDef="distrito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Distrito </th>
            <td mat-cell *matCellDef="let element"> {{element.centroDeVotacion.distrito.dscdistrito}} </td>
          </ng-container>

          <ng-container matColumnDef="centro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Centro de votacion </th>
            <td mat-cell *matCellDef="let element"> {{element.centroDeVotacion.nombreCentroDeVotacion}} </td>
          </ng-container>

          <ng-container matColumnDef="mesa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mesa </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDeMesa}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

        </table>
        <ng-container *ngIf="cargandoLista">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
      </div>
    </mat-card>

    </div>
    <div class="col-md-4">
      <mat-card class="w-100">
        <p>Estadistica</p>
        <hr>
        <!-- grafico -->
        <div>
          <div class="text-center">
          <table class="w-100">
            <tr>
              <td colspan="2">
                <google-chart [data]="pieChartData"></google-chart>
              </td>              
            </tr>
            <tr>
              <td>Total mesas: <span class="text-info font-weight-bold">{{ totalMesasVotacion }}</span></td>
              <td>Por Asignar: <span class="text-danger font-weight-bold">{{totalMesasPorAsignar}}</span></td>
            </tr>
          </table>
          </div>
          <hr>

          <div class="example-container2">
          <table mat-table [dataSource]="listMesasPorPersonero" matSort class="w-100">
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>                
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="nombrepersonero">
                <th mat-header-cell *matHeaderCellDef> Personero </th>
                <td mat-cell *matCellDef="let element"> {{element.nombrepersonero}} </td>                
                <td mat-footer-cell *matFooterCellDef class="font-weight-bold"> Total asignados </td>                
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Mesas Asignadas </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{ element.count }} </td>
                <td mat-footer-cell *matFooterCellDef class="text-center font-weight-bold"> {{totalMesasAsignadas}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsPersoneros"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPersoneros; "></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumnsPersoneros"></tr>
          </table>
          </div>
          </div>        
        <!-- grafico -->
      </mat-card>
    </div>
  </div>

</div>