<div>
  <div class="row">
    <div class="col-md-8">      
    <mat-card class="h-100">
      <div class="float-right">
        <i [ngClass]="!datosValidos ? 'fa fa-exclamation-triangle fa-2x text-danger' : 'fa fa-check-circle fa-2x text-success'"
          aria-hidden="true"></i>
      </div>
      <h4>Lista de Productos</h4>    
        <form [formGroup]="form">
        <div class="row" id="Addproducto">
          <div class="col-md-8">
            <app-comp-find-producto-list appNextFocus ContentFocus="#Addproducto" [_formControlName]="this.form.get('producto')" (getObject)="_getObjectList($event)" #txtProducto></app-comp-find-producto-list>
          </div>
          <div class="col-md-4">
            <mat-form-field class="w-100" style="margin-top: -9px;" >
              <input appNextFocus ContentFocus="#Addproducto" matInput formControlName="cantidad" 
                          type="number" 
                          placeholder="Cantidad" 
                          value="1" 
                          [disabled]="!hayProducto"  
                          (focus)="selectContent()"
                          (keyup.enter)="AddProducto(txtCantidad.value)"  
                          #txtCantidad>
            </mat-form-field>
          </div>
        </div>
        </form>
        <hr>
        
        <div class="mat-elevation-z8">
          <table mat-table #table [dataSource]="ListaProducto" class="w-100 tr-color-selected-1" matSort matSortActive="fecha"
            matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef style="width: 50px;"> # </th>
              <td mat-cell *matCellDef="let i = index">{{i + 1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="producto">
              <th mat-header-cell *matHeaderCellDef > Producto </th>
              <td mat-cell *matCellDef="let element">{{element.producto.dscproducto}} </td>
              <td mat-footer-cell *matFooterCellDef class="font-weight-bold">TOTAL</td>
            </ng-container>

            <ng-container matColumnDef="dsct">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="text-center"> Dsct. </th>
              <td mat-cell *matCellDef="let element" class="text-center">{{element.dsct}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="text-center"> Cant </th>
              <td mat-cell *matCellDef="let element" class="text-center">{{element.cantidad}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="text-right"> Precio </th>
              <td mat-cell *matCellDef="let element" class="text-right">{{element.precio | number :'0.2'}} </td>
              <td mat-footer-cell *matFooterCellDef class="text-right"><h4 class="font-weight-bold">{{getPrecioTotal() | number:'0.2'}}</h4></td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="text-right"></th>
              <td mat-cell *matCellDef="let element; let i=index" class="text-right">
                <i class="fa fa-trash-o cursor text-danger pl-1" aria-hidden="true" (click)="removeItem(i)"></i>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
        </div>


      </mat-card>              
    </div>
    <div class="col-md-4 bg-secondary">
      <h1>eeee</h1>
      <app-venta-comprobante></app-venta-comprobante>
      <br>
      <app-venta-cliente></app-venta-cliente>
      <br>
<app-venta-forma-pago></app-venta-forma-pago>
      
      {{ ventaComponentesService.checkValidAll$ | async }}
    </div>
  </div>  
</div>

<!-- <p-growl [value]="this.msgPopup" [life]=1500>
</p-growl>
<button type="button" [routerLink]="['../']" class="btn btn-success">Atras</button>

<div class="card">

  <div class="card-header">
    DATOS DEL USUARIO
  </div>
  <br>

  <form [formGroup]="puntoVentaForm">

    <div class="row">
      <label class="col-md-2" for="">Codigo</label>
      <div class="col-md-2">
        <input formControlName="idpuntoventa" type="text" class="form-control inputfield" readonly>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2" for="">Descripcion</label>
      <div class="col-md-6">
        <input formControlName="dscpuntoventa" type="text" class="form-control inputfield">
      </div>
    </div>

    <div class="row">
      <label class="col-md-2" for="">MAC</label>
      <div class="col-md-6">
        <input formControlName="mac" type="text" class="form-control inputfield" spellcheck="false">
      </div>
    </div>

    <hr>
    <div class="row" >

      <div class="col-md-4">
        <button [disabled]="!puntoVentaForm.valid" type="button" class="btn btn-sm btn-success" (click)="beforeSave()">
          <span class="fa fa-floppy-o"></span>&nbsp; Grabar</button>

      </div>

    </div>
  </form>

</div> -->