<div class="row" style="height: 95vh;">
  <div class="col-12">
    <mat-tab-group>

      <mat-tab label="Producto Carrito">
          <div class="p-5">
            <app-control-producto-carrito></app-control-producto-carrito>
          </div>
      </mat-tab>
          
      <mat-tab label="Tipo documento Sunat">
        <div class="p-5">
          <app-controles-documentacion></app-controles-documentacion>
        </div>
      </mat-tab>

      <mat-tab label="Buscar Almacen">
        <div class="p-5">
          <app-control-find-almacen></app-control-find-almacen>
        </div>
      </mat-tab>
      <mat-tab label="Buscar codigo barra">
        <div class="p-5">
          <app-control-find-codigo-barra></app-control-find-codigo-barra>
        </div>
      </mat-tab>
      <mat-tab label="Proveedor cliente">
        <div class="p-5">
          <app-control-proveedor-cliente></app-control-proveedor-cliente>
        </div>
      </mat-tab>
      <mat-tab label="Medio de pago">
        <div class="p-5">
          <app-control-medio-pago></app-control-medio-pago>
        </div>
      </mat-tab>
      <mat-tab label="Buscar producto">
        <div class="p-5">
          <app-control-find-producto></app-control-find-producto>
        </div>
      </mat-tab>
      <mat-tab label="Buscar Motivo I/S almacen">
        <div class="p-5">
          <app-control-find-motivo-is-almacen></app-control-find-motivo-is-almacen>
        </div>

      </mat-tab>

      <mat-tab label="Control Fecha">
        <div class="p-5">
          <app-control-find-fecha></app-control-find-fecha>
        </div>
      </mat-tab>


      <mat-tab label="Empleados">
        <div class="p-5">
          <app-control-find-empleado></app-control-find-empleado>
        </div>

      </mat-tab>


      <mat-tab label="Filial">
          <div class="p-5">            
            <app-control-find-filial></app-control-find-filial>
          </div>
      </mat-tab>                

      <mat-tab label="Periodo Almacen">
        <div class="p-5">            
          <app-control-find-periodo-almacen></app-control-find-periodo-almacen>
        </div>
      </mat-tab>                

    </mat-tab-group>
  </div>
</div>