<h2 mat-dialog-title>Detalle del producto</h2>

<mat-dialog-content [formGroup]="form">
      <h5>
        {{producto.dscproducto}} ({{producto.unidadmedida.abrunidadmedida}})
      </h5>
      <br>
      
      <mat-form-field class="w-100">
        <input matInput autocomplete="off" type="number" pattern="[0-9]+(\.[0-9][0-9]?)?"
            placeholder="Cantidad"
            (keydown.enter)="save()"
            formControlName="cantidad">
      </mat-form-field>      
      <mat-form-field class="w-100">
        <input matInput autocomplete="off"
            placeholder="Lote"
            (keydown.enter)="save()"
            formControlName="lote" [required]="producto.exigeLote">
      </mat-form-field>      
      <app-fecha-mat (getObject)="_getObjectFecha($event)" [_formControlName]="this.form.get('fechavencimiento')" _placeholder="Fecha de Vencimiento" [_required]="producto.exigeVencimiento"></app-fecha-mat>      
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-warn"(click)="close()">Cerrar</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Agregar</button>
</mat-dialog-actions>