
<button type="button" (click)="_out_isVisible()"  class="btn btn-success">Atras</button>

<div class="card" class="example-container">
    <div class="card-header">
        DATOS DEL EMPLEADO
    </div>

    <form [formGroup]="empleadoForm">

        <p>
            <mat-form-field>
                <input matInput placeholder="Codigo" formControlName="idempleado" readonly="true">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="NOMBRES" formControlName="nomempleado">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="DNI" formControlName="dni">
            </mat-form-field>
        </p>
        <p>
            <app-fecha-mat *ngIf="flag" [_formControlName]="this.empleadoForm.get('fechaingreso')" _placeholder="Fecha Ingreso"></app-fecha-mat>
        </p>

        <p>
            <app-fecha-mat *ngIf="flag" [_formControlName]="this.empleadoForm.get('fechanacimiento')" _placeholder="Fecha Nacimiento"></app-fecha-mat>
        </p>

        <p>
            <mat-form-field>
                <input matInput placeholder="DIRECCION" formControlName="direccion">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <input matInput placeholder="TELEFONOS" formControlName="telefono">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <input matInput placeholder="E-MAIL" formControlName="email">
            </mat-form-field>
        </p>



        <p>
            <mat-slide-toggle class="example-margin" formControlName="activo" [color]="color" [disabled]="!this.empleadoForm.get('activo')">
                Estado
            </mat-slide-toggle>
        </p>
        <app-comp-find-filial [_formControlName]="this.empleadoForm.get('filial')"></app-comp-find-filial>

        <div *ngIf="this.empleadoForm.get('idempleado')!=0">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Fecha Creacion Registro " formControlName="fechaRegistroSystema" readonly="true">
                </mat-form-field>&nbsp;
                <mat-form-field>
                    <input matInput placeholder="IdUsuario Creacion Registro " formControlName="idusuarioCrea" readonly="true">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Fecha Modificacion Registro " formControlName="fechaRegistroSystemaModifica" readonly="true">
                </mat-form-field>&nbsp;
                <mat-form-field>
                    <input matInput placeholder="IdUsuario Modificacion Registro " formControlName="idusuarioModifica" readonly="true">
                </mat-form-field>
            </p>
        </div>


        <div class="row ">

            <div class="col-md-4 ">
                <button [disabled]="!empleadoForm.valid" type="button " class="btn btn-sm btn-info" (click)="create()
            " *ngIf="this.idElement==0 else elseBlock">
                    <span class="fa fa-floppy-o "></span>&nbsp; Grabar</button>

                <ng-template #elseBlock>
                    <button [disabled]="!empleadoForm.valid" type="button " class="btn btn-sm btn-info" (click)="update() ">
                        <span class="fa fa-floppy-o "></span>&nbsp; Actualizar</button>

                </ng-template>
            </div>

        </div>

    </form>
</div>