th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  height: 70vh;
  overflow: auto;
}

// .content-select-mesa {  
//   position: fixed;
//   // display: contents;
// }

// @media screen and (max-width: 767px) {
//   .content-select-mesa {
//     position: relative;
//   }
// }