<h4>Generar json desde excel</h4>

<button class="btn btn-secondary" (click)="fileToUpload.click()">Seleccionar archivo excel</button>
<span class="pl-1"><strong> {{nomFile}}</strong></span>

<input type="file" #fileToUpload id="fileToUpload" [hidden]="true" accept=".xls,.xlsx" (change)="recibirFile($event)">
<br><br>

<button class="btn btn-success" 
  (click)="procesar()" 
  [disabled]="this.nomFile === ''"> 
  <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>

  Generar... 
</button>
<br><br>
<hr>
<br>
<div>
  Archivos generados: {{filesToUpload.length}}
  <textarea class="w-100" name="" id="" cols="30" rows="6" #txt_console ></textarea>
  <br>
  <h2 *ngIf="resServicio" [ngClass]="resServicio.success ? 'text-success' : 'text-danger'"> {{ resServicio.msg }} </h2>
</div>
