<div class="m-contenedor w-100">
  <div class="card">
    <div class="card-header">
      BUSCAR PRODUCTO
      <!-- <div class="float-sm-right">
        <button type="button" [routerLink]="['../']" class="btn btn-info btn-sm">Atras</button>
      </div> -->
      <br>
      <div class="row">
        <div class="col-md-6">
          <form class="example-form">
          <mat-form-field class="w-100">
            <input autocomplete="off" autofocus matInput #txtparametro [formControl]="_formControlName" placeholder="Buscar: " [(value)]="parametroBuscar">
          </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="card-body" #cardBody>
      <div class="row">
        <div class="col-md-12">
          <table class="table-producto" #tablaContent>
              <ng-container *ngIf="procesando; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                <tr class="h-100 w-100 animated fadeIn">
                  <td class="text-center" colspan="3">
                    <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
                  </td>
                </tr>                
              </ng-template>

              <ng-template #elseTemplate>
                <tbody class="animated fadeIn">
                  <tr #rowSelect *ngFor="let row of listProductos; let i=index" [ngClass]="{'selected': indexSelect === i}" (click)="indexSelect=i; resEmit(i)">
                    <td>
                      <div>
                        <p class="titulo">{{row.dscproducto}}</p>
                        <span class="subtitulo">categoria: {{row.categoria.dsccategoria | lowercase}} | marca: {{row.marca.dscmarca | lowercase}}</span>
                      </div>
                    </td>
                    <td>
                      <h3> {{ row.categoria.dsccategoria | lowercase }} </h3>
                    </td>
                    <td>
                      <h3>{{ row.unidadmedida.abrunidadmedida }}</h3>
                    </td>
                  </tr>
                </tbody>                
              </ng-template>
                         
          </table>          
        </div>      
      </div>
    </div>
    <div class="footer">                  
          <!-- <span class="float-left p-2 d-inline">{{totalRecords}} Registros</span> -->
          <mat-paginator #paginatorProducto
            [length]="totalRecords"
            [pageSize]="rows"
            (page)="page($event)">
          </mat-paginator>

          <!-- <p-paginator [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>                      -->
    </div>
</div>