<div class="m-contenedor" [hidden]="showChild || showBusquedaNotaCredito">        
  <div class="card">
    <div class="card-header">
      DATOS DE LA COMPRA
      <div class="float-sm-right">
          <button type="button" (click)="regresar()" class="btn btn-info btn-sm">Atras</button>
        <!-- <button type="button" [routerLink]="['../']" class="btn btn-info btn-sm">Atras</button> -->        
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          
              <form [formGroup]="compraForm">

                      <div class="row">
                          <div class="col-md-6">
                  
                            <div class="">
                                <!-- proveedor que envia la mercaderia -->
                                <app-comp-find-proveedor-cliente-list agruparPorDireccion="true" [_formControlName]="this.compraForm.get('proveedorcliente')"></app-comp-find-proveedor-cliente-list>                                

                                <!-- tipo de documento del proveedor que envia la mercaderia -->
                                <app-comp-find-tipo-documento-sunat-solo [_formControlName]="this.compraForm.get('tipodocumento')"></app-comp-find-tipo-documento-sunat-solo>
                                <mat-form-field class="pr-2 w-50">
                                  <input matInput autocomplete="off" placeholder="SERIE" formControlName="documentoSerie">
                                </mat-form-field>
                
                                <!-- nrodocumento del documento proveedor que envia la mercaderia -->
                                <mat-form-field class="w-50">
                                    <input matInput autocomplete="off" placeholder="NRO DOCUMENTO" formControlName="documentoNumero">
                                </mat-form-field>                
                                                    
                  
                                <!-- fecha de emision del documento de compra -->
                                <app-fecha-mat _placeholder="FECHA INGRESO" [_formControlName]="this.compraForm.get('fechaEmision')"></app-fecha-mat>
                  
                                <br>
                  
                                <!-- fecha de vencimiento del documento de compra -->
                                <app-fecha-mat _placeholder="FECHA VENCIMIENTO" [_formControlName]="this.compraForm.get('fechaVencimiento')"></app-fecha-mat>


                              </div>
                  
                          </div>
                          <div class="col-md-6">
                              <div class="">

                                <!-- almacen donde ingresara la mercaderia -->                                
                                <app-comp-find-almacen [idFilial]="this.idFilial" [_formControlName]="this.compraForm.get('almacen')"></app-comp-find-almacen>

                                <!-- modalidad compra venta -->
                                <app-comp-find-modalidad-compra-venta [_formControlName]="this.compraForm.get('modalidadCompraVenta')"></app-comp-find-modalidad-compra-venta>
                  
                                <!-- Tipo moneda de compra -->
                                <app-comp-find-moneda [_formControlName]="this.compraForm.get('moneda')"></app-comp-find-moneda>
                                  
                                <br><br>
                                <!-- flag desde nota ingreso -->
                                <div class="text-right">
                                  <mat-slide-toggle class="" [checked]="checkFlagFromNotaIngreso" (change)="checkFlagFromNotaIngreso=$event.checked">Desde nota de ingreso</mat-slide-toggle>
                                  <br>
                                  <ng-container *ngIf="checkFlagFromNotaIngreso">
                                    <button class="btn btn-info btn-sm" (click)="regresarFromNotaingreso()">Seleccionar nota ingreso</button>
                                  </ng-container>
                                </div>
                  
                              </div>
                          </div>                        
                      </div>                                                        
              </form>
          <br>
          <br>    
        </div>
                                    
        <div class="col-md-12" style="line-height: initial;">                                                
          <hr><br>
          <div class="row">
              <div class="col-md-8">
                <h3 class="m-0 p-0">Producto que ingresan</h3>
                <span class="text-info">{{dscNotaIngeso}}</span>
              </div>
              <div class="col-md-4 text-right">                
                <button class="btn btn-primary btn-sm align-content-center" (click)="showChild = true">
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    Agregar Productos
                </button>
              </div>
          </div>
          <br>
          
        <div class="example-container-table mat-elevation-z8">
          <table mat-table [dataSource]="listProductosCompra" class="tr-color-selected-1 table-compra">

              <!-- Position Column -->
              <ng-container matColumnDef="#">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> # </th>
                  <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                  <td mat-footer-cell *matFooterCellDef>-</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="Producto" sticky>
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark text-white"> Producto </th>
                  <td mat-cell *matCellDef="let element" style="width: 18%;">
                      <div>
                          <span><b>{{element.producto.dscproducto }} ({{element.producto.unidadmedida.abrunidadmedida}})</b></span><br>
                          <span class="text-secondary">marca: {{element.producto.marca.dscmarca | lowercase}} | categoria: {{element.producto.categoria.dsccategoria | lowercase}} </span>
                      </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="font-weight-bold"> Total </td>
              </ng-container>
              
              <ng-container matColumnDef="Cantidad">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Cantidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidad}} <span class="text-secondary font-weight-light" style="font-size: 11px;">{{element.producto.unidadmedida.abrunidadmedida}}</span> </td>
                  <td mat-footer-cell *matFooterCellDef>-</td>
              </ng-container>
              
              <ng-container matColumnDef="ISC">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> ISC </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeIsc}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{ getTotalISC() }}</td>
              </ng-container>

              <ng-container matColumnDef="Bruto">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Bruto </th>
                  <td mat-cell *matCellDef="let element" > {{element.importeBruto}}</td>
                  <td mat-footer-cell *matFooterCellDef>{{ getTotalBruto() }}</td>
              </ng-container>

              <ng-container matColumnDef="Desc">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Desc </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeDescuento}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{ getTotalDsc() }}</td>
              </ng-container>
              
              <ng-container matColumnDef="Val.Compra">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Val.Compra </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeValorCompra}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{ getTotalValCompra() }}</td>
              </ng-container>

              <ng-container matColumnDef="IGV %">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> IGV % </th>
                  <td mat-cell *matCellDef="let element" > {{element.importePorcentajeIgv}}</td>
                  <td mat-footer-cell *matFooterCellDef>-</td>
              </ng-container>

              <ng-container matColumnDef="IGV">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> IGV </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeIgv}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{getTotalImporteIGV()}}</td>
              </ng-container>

              <ng-container matColumnDef="Imp.Compra">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Imp.Compra </th>
                  <td mat-cell *matCellDef="let element" > {{element.importeCompra}}</td>
                  <td mat-footer-cell *matFooterCellDef>{{getTotalImporteCompra()}}</td>
              </ng-container>

              <ng-container matColumnDef="Flete">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Flete </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeFlete}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{getTotalImporteFlete()}}</td>
              </ng-container>
              
              <ng-container matColumnDef="Imp.Uni">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Imp.Uni </th>
                  <td mat-cell *matCellDef="let element"> {{element.importeUnitario}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{getTotalImporteUnitario()}}</td>
              </ng-container>

              <ng-container matColumnDef="Costo.Uni" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark  text-white"> Costo.Uni </th>
                  <td mat-cell *matCellDef="let element" > {{element.importeTotalCostoUnitario}}</td>
                  <td mat-footer-cell *matFooterCellDef class="font-weight-bold">{{getTotalCostoUnitario() | number:'0.2'}}</td>
              </ng-container>

              <ng-container matColumnDef="-">
                  <th mat-header-cell *matHeaderCellDef class="m-0 bg-dark text-white" style="width: 65px;"> - </th>
                  <td mat-cell *matCellDef="let element; let i=index" class="w-10 position-relative">
                      <div>
                          <i class="fa fa-pencil cursor pr-1" (click)="_getObJectProductoListIngresar(element)" aria-hidden="true"></i>
                          <i class="fa fa-trash-o cursor" aria-hidden="true" (click)="rowIndexCondirmDelete = i"></i>
                      </div>

                      <!-- mesaje de confirmacion para borrar -->
                      <div class="rowConfirmDelete" [ngClass]="{'visible selected': rowIndexCondirmDelete === i}">
                          <div>                                    
                              <button mat-button color="accent" >Borrar</button>
                              <button mat-button (click)="rowIndexCondirmDelete = null">Cancelar</button>
                          </div>
                      </div>
                      <!-- mesaje de confirmacion para borrar-->

                  </td>
                  <td mat-footer-cell *matFooterCellDef>-</td>
              </ng-container>                    

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
          </div>

          <!-- <div *ngFor="let item of listProductosCompra">
            <p>{{item.producto.dscproducto}}</p>
          </div>
          {{listProductosCompra | json}} -->
          



        </div>
      </div>        
      <br>
      <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">       
              <table class="table-1 pr-2">
                  <tr>
                      <td>Importe ISC</td>
                      <td class="text-right font-weight-bold">{{ TotalImporteISC | number:'0.2'}}</td>
                  </tr>
                  <tr>
                      <td>Importe Bruto</td>
                      <td class="text-right font-weight-bold"> {{ TotalImporteBruto | number:'0.2'}} </td>
                  </tr>
                  <tr>
                      <td>Importe IGV</td>
                      <td class="text-right font-weight-bold">{{ TotalImporteIGV | number:'0.2'}}</td>
                  </tr>
                  <tr>
                      <td>Importe Flete</td>
                      <td class="text-right font-weight-bold">{{ TotalImporteFlete | number:'0.2'}}</td>
                  </tr>
                  <tr>
                      <td>Importe Compra</td>
                      <td class="text-right"><h4><strong>{{ TotalImporteCompra | number:'0.2'}}</strong></h4></td>
                  </tr>
              </table>
          </div>
      </div>      


      <br>                
      <br>

      
      <!-- [disabled]="!this.compraForm.valid || listProductosCompra.length == 0" -->
      <button appNextfocus appKeyClick="F10" type="button"                 
          class="btn btn-success btn-sm mr-2" 
          (click)="create()" 
          >
        <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>
        [F10] Guardar
      </button>    
    </div>                   
  </div>
</div>

<!-- seleccionar nota ingreso -->
<div *ngIf="showBusquedaNotaCredito">
  <ng-container>
    <ad-almacen-ingreso-lista [modoBusqueda]="true" (getRptBusqueda)="_getRptBusquedaNotaIngreso($event)" (back)="regresarFromNotaingreso()"></ad-almacen-ingreso-lista>    
  </ng-container>
</div>
  


<!-- componente buscar producto -->
<!-- componetne carrito de productos -->
<div *ngIf="showChild">    
<h2>Listado de productos</h2>        
<span class="text-secondary">Selecione los productos que son parte de esta compra.</span>

<app-comp-producto-carrito class="btn-carrito" (click)="showChild = false"></app-comp-producto-carrito>
<button class="btn btn-success btn-sm float-right btn-listo-carrito" (click)="showChild = false"> Listo, regresar. </button> 
<br>        

<app-comp-find-producto-almacen class="app-list-producto" (getObject)="_getObjectProducto($event)"></app-comp-find-producto-almacen>        
</div>

