<div class="animated fadeIn">
<p>
  Registro de votos
</p>
<div class="row">
  <div class="col-md-4">
<app-ubigeo (getUbigeo)="validaUbigeoMesa($event)" ></app-ubigeo>
<mat-card class="w-100" [ngClass]="{'bg-success text-white': getPocentajeRegistrados() > 99}">
    <div class="text-center">
      <h2>{{ getPocentajeRegistrados() }}%</h2>
      <span>Total de votantes por mesa: {{NumVotantesPorMesa}}</span><br>
      <span>Total votos registrados: {{getTotalVotos()}}</span>    
    </div>
  </mat-card>
  </div>
  <div class="col-md-8">
    <mat-card class="h-100">      
          <h2>Mesa: {{numMesa}} <i  class="fa fa-circle-o-notch fa-spin fa-fw text-info" [hidden]="!loadingMesa"></i></h2>              
      <hr>
      <div [ngClass]="{'animated fadeIn': !loadingPlantilla}">
      <table class="w-100">
        <tr *ngFor="let item of plantilla001?.plantilla002s" (click)="txtCantVotos.select();">
          <td width="80px">
            <img src="../../../../assets/images/{{item.candidato.foto | lowercase}}.jpg" alt="" width="90px">
          </td>
          <td>
            <p class="titulo">{{item.candidato.nombre}}</p>
            <span class="subtitulo">{{item.candidato.agrupacion.dscagrupacion}}</span>
          </td>
          <td>
            <div class="cantvotos text-center">
              <h2>              
                <input type="text" 
                  [disabled]="!numMesaValida"
                  class="cantvotos_input"
                  value={{getVotos(item)}}
                  (click)="txtCantVotos.select();"
                  (change) = "setVotos(item, txtCantVotos.value)"
                  #txtCantVotos>
              </h2>
            </div>
          </td>
        </tr>
        <tr class="trtotal">
          <td colspan="2" class="text-left">
            <button class="btn btn-success" [disabled]="!numMesaValida" (click)="grabarActa()"> Grabar Acta </button>
          </td>
          <td class="text-center"><h2>{{totalVotos}}</h2></td>
        </tr>
      </table>
    </div>
    </mat-card>
  </div>
</div>
</div>

